
	body{background-color:black;}
	
	
	.container{
			border:none;
	border-radius: 10px;
	background-color:#121317;
	color:white;
	}
	
	
	
	form{
		margin-top:20px;
		
    }
	
	  
	  img{
		 border:none;
	  border-radius:25px;}
        		 
		



 
	  
	    
	  
	
	
	