body {
    background-color: black;
}

.form-control {
    background: #d9d9d9;
    margin: 20px;
    padding: 10px;
}

h2 {
    color: #FFFFFF;
}

.container {
    margin-top: 50px;
}

.btn-btn-primary {
    background-color: #8E0808;
    color: white;
    border-radius: 18px;
    padding: 8px;
}

.btn-btn-primary:hover {
    opacity: 0.8;
}

.form {
    color: #ffffff;
    font-size: 18px;
}

.table {
    background-color: #D9D9D9;
    border-radius: 18px;
    padding: 0.375rem 0.75rem;
    border: none;
}

.btn-btn-primary-add {
    background-color: #8E0808;
    color: white;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 970px;
    text-decoration: none;
    justify-content: center;
}

.btn-btn-primary-add:hover {
    opacity: 0.8;
    color: #FFFFFF;
}